<body class="hold-transition login-page">
  
    <div class="login-box">
      <div class="login-logo">
        <a href=""><b>Servicios</b>TI.</a>
      </div>
    
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Elige una opcion para continuar</p>
          <div>  
            <div class="row">

              <div class="col-12 m-1">
                <button type="button" routerLink="/login" class="btn btn-primary btn-block">Iniciar Sesion</button>
              </div>
              <div class="col-12 m-1">
                <button type="button" routerLink="/agendar" class="btn btn-success btn-block">Agendar</button>
              </div>
              <div class="col-12 m-1">
                <button type="button" routerLink="/visor" class="btn btn btn-warning btn-block">Encontrar mi Servicio</button>
              </div>
   
             
            </div>
        </div>
        
        </div>
        
      </div>
    </div>
   
  </body>


